@using HumanResources.Web.Enum
@model Employee

@{
    ViewData["Title"] = "Add Employee";
    var departments = ViewData["departments"] as IEnumerable<SelectListItem>;
    var designations = ViewData["designations"] as IEnumerable<SelectListItem>;    

}

<div class="card p-5 shadow">
<form action="/employee/add" method="post" class="row" enctype="multipart/form-data">
    <div class="col-md-6 mb-3">
        <label asp-for=Name class="form-label"></label>
        <input asp-for=Name class="form-control">
    </div>
    <div class="col-md-6 mb-3">
        <label asp-for=Email class="form-label"></label>
        <input asp-for=Email class="form-control">
    </div>
 
    <div class="col-md-6 mb-3">
        <div class="d-flex flex-column">
        <label asp-for=Gender class="form-label d-block"></label>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name=Gender id="male" value="@Gender.Male">
            <label class="form-check-label" for="male">Male</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name=Gender id="female" value="@Gender.Female">
            <label class="form-check-label" for="female">Female</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name=Gender id="others" value="@Gender.Others">
            <label class="form-check-label" for="others">Others</label>
        </div>
        </div>
    </div>
    <div class="col-md-6 mb-3">
        <label asp-for=Address class="form-label"></label>
        <textarea asp-for=Address class="form-control" rows="3"></textarea>
    </div>

    <div class="col-md-6 mb-3">
        <label asp-for=Dob class="form-label"></label>
        <input asp-for=Dob class="form-control">
    </div>
    
    <div class="col-md-6 mb-3">
        <label asp-for=Designation class="form-label"></label>
        <select asp-for=DesignationId asp-items=designations class="form-control"></select>
    </div>

    <div class="col-md-6 mb-3">
            <label asp-for=Department class="form-label"></label>
            <select asp-for=DepartmentId asp-items=departments class="form-control"></select>
        </div>

    <div class="col-md-6 mb-3">
        <label asp-for=JoinDate class="form-label"></label>
        <input asp-for=JoinDate class="form-control">
    </div>
    
    <div class="col-md-12 mb-3">
        <label asp-for=ProfileImage class="form-label"></label>
        <input asp-for=ProfileImage class="form-control">
    </div>

    <div class="col-md-6">
        <button type="submit" class="btn btn-primary">Summit</button>
        <button type="reset" class="btn btn-warning">Clear</button>
    </div>
</form>
</div>